.paginateContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 95%;
    background-color: rgba(23, 56, 128, 0.445);
    border: 1px solid #06023d;
    z-index: 10000;

  }
  .paginate {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.3em;
  }
  
  .paginate span {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 5px;
    cursor: pointer;
    border-radius: 4px;
    background-color: rgba(23, 56, 128, 0.445);
    border: 1px solid #06023d;
  }
  
  .paginate span.active {
    background-color: #007bff;
    color: #fff;
  }
  
  .paginate span:hover {
    cursor: pointer;
    background-color: #f0ebe51f;
  }